<%= form_for(:session, url: login_path) do |f| %>

<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :remember_me, class: "checkbox inline" do %>
<%= f.check_box :remember_me %>
<span>Remember me on this computer</span>
<% end %>

<%= f.submit "Log In", class: "btn btn-info" %>
<% end %>

<p>Are you new to this site? <%= link_to "Sign up", signup_path %> or <%= link_to "Log in as a test user", login_path(session: { email: "user-1@pacifica.com", password: "password" }), method: "post" %></p>

<!-- test user info -->
<p style="color: red;">Test user email: user-1@pacifica.com</p>
<p style="color: red;">Test user password: password</p>
