<% @user ||= current_user %>
<a href="<%= following_user_path(@user) %>">
  <strong id="following" class="stat">
    <%= @user.following.count %>
  </strong>
  <span>following</span>
</a>

<a href="<%= followers_user_path(@user) %>">
  <strong id="followers" class="stat">
    <%= @user.followers.count %>
  </strong>
  <span>followers</span>
</a>

<span> | </span>

<a href="<%= user_likes_path(@user) %>" class="like_count">
  <strong class="stat">
    <%= @user.like_posts.count %>
  </strong>
  <span>Likes</span>
</a>