<li class="post-<%= post.id %> post">
  <%= icon_for(post.user) %>
  <%= image_tag post.music.artwork %>
  <%= link_to post.user.name, post.user, class: "user" %>
  <a href="<%= post_path(post) %>", class="heading">
    <h2><%= post.music.name %> - <%= post.music.artist %></h2>
  </a>
  <div class="timestamp">
    <span class="left_timestamp">
      <span class="comment_count">
        <i class="far fa-comment"></i>
        <span><%= post.comments.count %></span>
      </span>
      <span>
        <i class="far fa-heart"></i>
        <%= post.like_users.count %>
      </span>
    </span>
    <span class="right_timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
  </div>
</li>