<div class="post_show row">
  <div class="col-md-10">
    <div class="heading">
      <h2><%= @post.music.name %> - <%= @post.music.artist %></h2>
    </div>

    <% if current_user?(@post.user) && current_page?(edit_post_path(@post)) %>
      <div class="post_form">
        <%= render 'post_form' %>
        <div class="edit_options">
          <%= link_to "Discard changes", post_path(@post) %>
          <span> | </span>
          <%= link_to "delete", @post, method: :delete, data: { confirm: "You sure?" } %>
        </div>
      </div>
    <% else %>
      <div class="content"><%= safe_join(@post.content.split("\n"), tag(:br)) %></div>      
      <div class="timestamp">
        <span class="left_timestamp">
          <span class="comment_count">
            <i class="far fa-lg fa-comment"></i>
            <span><%= @post.comments.count %></span>
          </span>
          <%= render 'like_form' %>
        </span>
        
        <span class="right_timestamp">
          <% if current_user?(@post.user) %>
            <%= link_to "Edit", edit_post_path(@post) %>
            <span> / </span>
            <%= link_to "Delete", @post, method: :delete, data: { confirm: "You sure?" } %>
          <% end %>
  
          <span>Posted <%= time_ago_in_words(@post.created_at) %> ago.</span>
        </span>
      </div>
    <% end %>
  </div>
  
  <div>
    <img src="<%= @post.music.artwork %>" alt="<%= @post.music.name %>">
  </div>
</div>